/*理工平台-考试管理LYQ*/
.lsprite{background: url(../img/lsprite.png)no-repeat ;}
.examination{height: auto;background-color: #fff;border: 1px solid #ddd;}
.examination-box{height: 55px;border-bottom:1px solid  #ddd;padding-left: 62px;line-height: 55px;font-size: 20px;color: #555;background:#f9f9f9 url(../img/kaoshi.png) no-repeat 29px  center;}
.examination-cnt{height: auto;overflow: hidden;padding: 30px 30px 110px;}
.examination-cnt-top{height: auto;}
.examination-select{width: 260px !important;float: left;border-bottom: none;}
.examination-select .hasSelectTd{width: 260px;float: left;}
.examination-select tr td .selectBox{width: 248px;font-size: 18px;color: #34495e;background:#f9f9f9 url(../img/kao-selt.png) no-repeat 228px 14px;cursor:pointer ;}
.examination-select .popSelect{display: none;}
.examination-select .popSelect li{font-size: 16px;}
.examination-cnt-toprgt{width: 855px;float: right;border: 1px solid #ddd;height: 45px;}
.examination-cnt-toprgt .lft{display: inline-block;float: left;font-size: 14px;color: #666;margin-top: 13px;}
.examination-cnt-toprgt .lft span{display:block;float: left;min-width: 148px;text-align: center;height: 18px;}
.examination-cnt-toprgt .lft .stud{border-right: 1px dashed #ddd;}
.examination-make{width: 110px;height: 32px;float: right;margin-top: 6px;margin-right: 10px;}
.examination-make a{width: 110px;height: 32px;display: block;font-size: 14px;color: #fff;background-color: #41cb83;text-align: center;line-height: 32px;}
.examination-make a:hover{background-color: #00ae66;}
.examination-cnt-box{width: 100%;  height: auto;overflow: hidden;}
.examination-cnt-box li{width: 515px; height: 150px;overflow: hidden;background-color: #f0f8fc;float: left;padding: 17px 22px 30px;margin-bottom: 20px;font-size: 14px;color: #333;line-height: 2.5;position: relative;}
.examination-cnt-box li.on{width: 513px; height: 148px;overflow: hidden;background-color: #fffaf1;float: left;padding: 17px 22px 30px;margin-bottom: 20px;font-size: 14px;color: #333;line-height: 2.5;position: relative;border: 1px solid #ffc471;}
.examination-cnt-box li:nth-child(2n){float: right;}
.examination-cnt-box li h2{font-size: 20px;color: #34495e;font-weight: bold;}
.examination-cnt-box li h2 .no{font-size: 12px;color: #7d6728;padding: 2px 8px;display: inline-block;background-color: #ffd351;margin-left: 8px;border-radius: 3px;font-weight: normal;border: 1px solid #7d6728;line-height: 1;}
.examination-cnt-box li .examination-time{color: #579bdc;text-decoration: underline;}
.examination-cnt-box li .examination-time:hover{color: #62a7e9;}
.examination-cnt-box li .tm{color: #666;}
.examination-cnt-box li .note{height: auto;overflow: hidden;position: absolute;right: 22px;top: 36px;}
.examination-cnt-box li .note a{height: auto;overflow: hidden;padding:6px 20px;display: inline-block;background-color: #f5f5f5;border: 1px solid #ddd;line-height: 1;margin-left: 9px;font-size: 14px;color: #333;}
.examination-cnt-box li .note01 a{height: auto;overflow: hidden;padding:8px 20px;display: inline-block;background-color: #41cb83;line-height: 1;margin-left: 9px;font-size: 14px;color: #fff;border: none;}
.examination-cnt-box li .note01 a:hover{background-color: #00ae66;}
.examination-cnt-box li h2 .red{color: #fff;background-color: #fa7b1e;border-color:#dd4f02;}
.examination-cnt-box li h2 .green{color: #fff;background-color: #82c552;border-color:#62943e;}

.examination-makecnt{background-color: #f4f5f9;background-image: none;padding-left: 29px;}
.examination-makecnt-box{width: 555px;height: auto;margin: 0 auto;font-size: 16px;color: #333333;border-bottom: 1px dashed #ddd;}
.ex-make{height: auto;width: 100%;}
.ex-make tr{width: 100%; line-height: 45px;}
/*.ex-make tr:first-child{margin-bottom:10px;}*/
.ex-makenote{width: 450px;height: 45px;border: 1px solid #ddd;padding-left: 20px;font-size: 14px;color: #555;}
.ex-makenote:focus{border: 1px solid #008fee;}
.ex-make tr td:first-child{width: 80px;}
.ex-date{width: 160px;height: 45px;border: 1px solid #ddd;padding-left: 20px;}
.icon-blue-ex{top:4px;color: #008fee;}
.ex-select-date{width: 120px;height: 45px;margin-bottom: 0;margin-left: 11px;border-bottom: none;background: url(../img/select.jpg) no-repeat 101px 14px;float: left;}
.ex-select-date tr td .selectBox{width: 115px;height: 45px;}
.ex-select-date tr td {padding-bottom:0px!important;}
.ex-select-date tr td .popSelect{display: none;}
.hasSelectTd01{position: relative;}
.ex-make tr td{padding-bottom: 29px;}
.ex-paper{width: 210px;height: 45px;border: 1px solid #ddd;padding-left: 20px;font-size: 14px;}
.ex-paper:focus{border: 1px solid #008fee;}
.ex-paper-more{padding:7px 22px;background-color: #41cb83;font-size: 14px;color:#fff!important;margin-left: 20px;}
.ex-paper-more:hover{background-color: #00ae66;}
.ex-paper-jia{height: auto;overflow: hidden;}
.ex-paper-jia li{width: 230px; height:45px;background-color: #5da4ea;border-radius: 22px;float: left;margin-bottom: 20px;font-size: 14px;color: #fff;text-align: center;line-height: 45px;position: relative;}
.ex-paper-jia li:nth-child(2n){margin-left: 15px;}
.ex-paper-jia li .cl{margin-left: 15px;width: 25px;height: 23px;display: block;position: absolute;right:8px;top:11px;background-position: -8px 0;cursor: pointer;}
.ex-paper-jia li:last-child{margin-left: 15px;width: 45px;height:45px;background:url(../img/lsprite.png) -44px 0;cursor: pointer;background-color: none;}
.ex-makebtm{height: auto;overflow: hidden;text-align: center;}
.ex-makebtm a{display: inline-block;padding: 10px 55px;font-size: 18px;color: #fff;margin: 20px 10px;}
.ex-makebtm a:first-child{background-color: #b8c4ce;}
.ex-makebtm a:first-child:hover{background-color: #9eaebc;}
.ex-makebtm a:nth-child(2n){background-color: #008fee;}
.ex-makebtm a:nth-child(2n):hover{background-color: #0281d6;}

.ex-details-date{display: inline-block;font-size: 16px;color: #555;}
.ex-details-ing{font-size: 12px;color: #fff;padding: 3px  12px;background-color: #2db2ff;border-radius: 3px;border: 1px solid #157db9;}
.ex-details{height: auto;overflow: hidden;padding: 30px 30px 100px;}
.ex-details-title{height: 45px;background-color: #eaf9ff;line-height: 45px;font-size: 14px;color: #666;border: 1px solid #ddd;padding-left: 30px;}
.ex-details-title span{color: #f16300;}
.ex-details-box{width: 100%;height: auto;min-height: auto;}
.ex-down{color: #579bdc!important;}
.ex-details-ch{margin-left: 10px;}
.ex-details-ch:hover{background-color: #41cb83;color: #fff;}
.ex-test ul li span {margin-right:26px;}

.ex-showtext{height: auto;overflow: hidden;font-size: 14px;color: #333;width: 460px;margin: 0 auto;border-bottom: 1px dashed #ddd;padding-bottom: 25px;}
.ex-showtext li{line-height: 40px;}
.ex-showbox{height: auto;overflow: hidden;padding-bottom: 32px;}
.ex-sclmak-box{height: auto;overflow: hidden;width: 460px;margin: 0 auto;border-bottom: 1px dashed #ddd;font-size: 16px;color: #333;line-height: 40px;}
.ex-sclmak{height: auto;overflow: hidden;margin: 0 auto;}
.ex-sclmak td{padding-bottom: 20px;}
.ex-sclmak td .red{color: #f16300;}
.ex-mkb{width:132px;height: auto;overflow: hidden;position: relative;}
.ex-mkb input{width: 108px; height: 40px;overflow: hidden;border: 1px solid #ddd;padding-left: 20px;}
.ipt{position: absolute;right: 10px;top:2px;}
.ipt-rt{text-align: right;background: url(../img/ex-datebg.jpg) no-repeat 15px 13px }
.ipt-cnt{text-align: left;}


.ex-paper-box{width: 100%; height: auto;overflow: hidden;background: url(../img/ex-paperbg.jpg) repeat;padding: 35px 0 40px;border: none;position: relative;}
.ex-paperbox{width: 1200px;height: auto;min-height: 166px; margin: 0 auto;background:url(../img/ex-paperhd.png) no-repeat top center;}
.ex-paperbox h2{font-size: 24px;color: #333;text-align: center;line-height: 55px;padding-top: 35px;}
.ex-paperbox h2 .red{color: #f16300;}
.ex-paperbox .nm{width: 1140px; height: auto;overflow: hidden;margin: 0 auto;border-bottom: 1px dashed #ddd;font-size: 14px;color: #666;padding-bottom: 20px;}
.ex-paperbox li{width:265px; height: auto;overflow: hidden;margin:10px;text-align: center;float: left;}
.ex-paper-cnt{background-color: #fff;background:#fff url(../img/ex-paperhd.jpg) no-repeat top center;width: 1200px;}
.ex-paper-cntop{width: 1140px;padding: 0 30px 120px;}

.ex-paper-btm{width: 100%;height: 95px;overflow: hidden;position: relative;margin-top: -95px;}
.ex-paper-btmbox{width: 100%;height: 95px;background-color:#000 ;opacity: 0.5;filter: alpha(opacity=50);position: absolute;top: 0;left: 0;}
.ex-paper-btmcnt{width: 100%;height: 95px;position: absolute;/*top:25px;left: 50%;*//*margin-left: -340px;*/line-height: 95px;text-align: center;}
.ex-paper-btmcnt a{width: 150px;height: 45px;line-height: 45px;text-align: center;font-size: 18px;color: #fff;display: inline-block;margin: 0 10px;background-color: #008fee;/*float: left;*/}
.ex-paper-btmcnt a:hover{background-color: #0281d6;}

.ex-read{width: 1200px;height: auto;overflow: hidden;border: 1px solid #ddd;margin: 35px auto 40px;}
.ex-readbox{width: 1140px;background-color:#fff ;padding: 30px 30px 0;}

.ex-default{width: 1200px;height: auto;overflow: hidden;margin: 0 auto;border: 1px solid #ddd;background-color: #fff;padding-bottom: 190px;}
.ex-default-top{ height:55px;background-color: #f9f9f9;border-bottom: 1px solid #ddd;}
.ex-default-toplft{min-width: 220px; margin-left: 30px;float: left;display: inline-block;background: url(../img/ex-daftop.jpg) no-repeat 109px 16px;}
.ex-default-toplft a{line-height: 52px;display: block;float: left;font-size: 20px;color: #888;}
.ex-default-top a:last-child{float: right;}
.ex-default-toplft a.active{border-bottom: 3px solid #008fee;color: #008fee!important;}
.ex-default-toplft a:hover{color: #008fee!important;}
.ex-default-toprgt{min-width: 250px;margin-right: 30px;float: right;margin-top: 9px;position: relative;}
.ex-default-toprgt input{width: 233px;height: 35px;border: 1px solid #ddd;border-radius: 17.5px;padding-left: 17px;font-size: 14px;color: #999;}
.ex-default-toprgt i{font-size: 20px;color: #ff6700;position: absolute;top:7.5px;right:12px;cursor: pointer;}

.ex-default-box{width: 1140px; height: auto;overflow: hidden;padding-top: 42px;margin: 0 auto;}
.ex-default-box li{width: 1058px; height: auto;overflow: hidden;padding: 25px 40px;background-color: #f0f8fc;margin-bottom: 30px;border: 1px dashed #ddd;}
.ex-default-box li:hover{background-color: #fffaf1;border: 1px solid #ffc471;}
.ex-default-box01{width: 900px;height: auto;overflow: hidden;float: left;font-size: 14px;color: #666;}
.ex-default-box01 h2{font-size: 18px;color: #34495e;font-weight: bold;} 
.ex-default-box01 .logo{background-position: -104px 0;height: 19px;width: 18px;display: block;float: left;margin-right: 7px;margin-top: 3px;} 
.ex-default-box01 .red{color: #f24f40;} 
.ex-default-cnt{height: auto;overflow: hidden;width: 100%;margin-top: 12px;}
.ex-default-cnt li{width: 200px; height: auto;overflow: hidden;float: left;line-height: 1.8;float: left;padding: 0;border: none;margin-bottom: 10px;background: none;}
.ex-default-cnt li:hover{border: none;}
.ex-default-cnt .red{color: #f24f40;}
.ex-default-box01 h3{font-size: 14px;color: #333;line-height: 2;} 
.ex-default-box01 h3 .t02{font-size: 14px;color: #666;width: 800px;float: right;line-height: 2;} 
.ex-default-box02{height: auto;overflow: hidden;display: inline-block;float: right;margin-top: 35px;}
.ex-default-box02 a{height: 30px;width: 90px; display: block;line-height: 30px;text-align: center;font-size: 14px;color: #333;border: 1px solid #ddd;border-radius: 3px;margin-bottom: 15px;background-color: #f4f4f4;}
.ex-default-box02 a:last-child{color: #fff;border: 1px solid #41cb83;background-color:#41cb83 ;}
.ex-default-btm{height: auto;overflow: hidden;padding: 0 30px;}
.ex-default-btm .back{height: auto;overflow: hidden;display:inline-block;float: left;}
.ex-default-btm .back a{height: auto;overflow: hidden;padding: 14px 55px;background-color: #b8c4ce;font-size: 18px;color: #fff;display: block;border-radius: 3px;}
.ex-default-btm .prav{height: auto;overflow: hidden;display: inline-block;float: right;line-height: 42px;font-size: 12px;color: #b5b5b5;margin: 5px;}
.ex-default-btm .prav a{padding: 0 16px;display:block;float: left; border-bottom: 1px solid #ddd;border-top: 1px solid #ddd;border-left: 1px solid #ddd;font-size: 12px;color: #434343;}
.ex-default-btm .prav .non{border: 1px solid #ddd;margin-right: 14px;}
.ex-default-btm .prav .next01{margin-right: 24px;border: 1px solid #ddd;}
.ex-default-btm .prav .cor{color: #959595;}
.ex-default-btm .prav .inp01{width: 50px;height: 40px;border: 1px solid #ddd;text-align: center;margin: 0 10px;}
.ex-default-btm .prav .inp02{width: 50px;height: 42px;background-color: #008fee!important;font-size: 12px;color: #fff;margin-left: 10px;cursor: pointer;}
.ex-default-btm .prav a:hover,.ex-default-btm .prav a.active{background-color: #008fee;color: #fff;}

.ex-newbox{width: 100%;margin: 0;background-color: #fff;}
.ex-new-con{width: 1138px;}
.conR-con-con1-top .li7new{float: right;}

.ex-chotop{font-size: 14px;color: #888888;}

/*2017-02-06*/
#edui164_bottombar,#edui808_bottombar,#edui325_bottombar,#edui486_bottombar,#edui647_bottombar{display: none;}
.ch-a{width: 100%;min-height: 44px;cursor: pointer;font-size: 12px;color:#666;}
.ch-a img{max-width: 100px;max-height: 100px;display: block;}
.edui-default .edui-toolbar .edui-combox .edui-combox-body{height: 20px;}
.edui-default .edui-button-body{height: 20px;}
#container02{width: 460px!important;margin: 0 auto;}
.workrt-radio{width: 17px;height: 17px;background: url(../img/radio.png) no-repeat;margin: 0 auto;cursor: pointer;}
.workrt-radio.on{width: 17px;height: 17px;background: url(../img/radio-active.png) no-repeat;}
.ch-ch{font-size: 12px;}
/*.ch-ch a{display: inline-block;padding: 0 5px;}*/
.ch-ch a {display: block;width: 48px;float: left;text-align: center;}
.ch-ch .green{color: #579bdc;}
.ch-ch .red{color: #e60012;}
.popForm{z-index: 3;}

.chtable-info tr{margin-top: 0;}
.chtable-info td{padding-top: 30px;}
.table1 td{padding-top: 0;}
.casein-put {border: 1px solid #dddddd;width: 318px;height: 44px;font-size: 14px;text-indent: 14px;}
.case-note{width: 1135px; font-size: 18px;color: #333;height: 50px;background-color: #F9F9F9;line-height: 50px;text-indent:5px;}
.case-make{height: auto;overflow: hidden;margin: 85px 0;}
.case-make a{width: 152px;height: 48px;line-height: 48px;font-size: 18px;color: #fff; text-align: center;border-radius: 3px;background-color:#008fef;display: inline-block;margin-right: 20px;}
.case-make a:hover{background-color: #0281d6;}
.Release:hover{background-color: #0281d6!important;}
.cancel:hover{background-color: #9eaebc!important;}
.bgcf4f4:hover{background-color: #9eaebc!important;color: #fff!important;}
.jud-ch{height: auto;overflow: hidden;}
.jud-ch li{height: auto;overflow: hidden;float: left;margin-right: 30px;}
.caseworkrt-radio{float: left;margin-top: 3px;margin-left: 3px;margin-right: 3px;}
.add-fu:hover{background-color: #00ae66;}
.lineloer-answer .score input{text-indent: 15px;}
.workrt-radio-more{width: 17px;height: 17px;background: url(../img/checkBoxBg.png) no-repeat;margin: 0 auto;cursor: pointer;}
.workrt-radio-more.on{width: 17px;height: 17px;background: url(../img/checkedBg.png) no-repeat;}
.add-classll{margin: 0 auto!important;width:482px!important;z-index: 1!important;}
#pop_addmenber .box .addMen-box .add-classll{height: 275px!important;}

.stud-date{width:60%;float: left;}
.stud-date01{width:40%;float: left;}
.ex-ing{color: #f24f40!important;}
.ex-sure{height: auto;overflow: hidden;text-align: center;margin-top: 50px;}
.ex-sure a{font-size: 18px;color: #fff;padding: 11px 57px;background-color: #008fee;display: inline-block;border-radius: 3px;}
.ex-sure a:hover{background-color: #0281d6;}

/*-----------学生端试卷----------*/
.stud-name{position: absolute;top: 0;height: 60px;width: 100%;}
.stud-namebg{position: relative;height: 60px;width: 100%;}
.stud-namebgbox{position: absolute;top: 0;height: 60px;width: 100%;background-color:#000 ;opacity: 0.6;filter: alpha(opacity=60);}
.stud-top h2 {font-size: 24px;color: #333;text-align: center;line-height: 108px;padding-top: 24px;    border-bottom: 1px dashed #ddd;width: 1140px;margin: 0 auto;}
.stud-name-text{width: 1200px;line-height: 60px;font-size: 16px;color: #fff;text-align: center;position: absolute;left: 50%;top:0;margin-left: -600px;}
.stud-name-text li{display: inline-block;padding: 0 43px;}
.stud-name-text li .date{color: #f16300;}
.ex-answer{width: 1090px;height: auto;border: 1px solid #f9ddc9;background-color: #fffaf1;margin-top: 20px;padding: 10px 25px 30px;font-size: 14px;color: #666;line-height: 2.5;}
.ex-answer h3{font-size: 16px;color: #f16300;text-indent: 28px;background: url(../img/cankao.png) no-repeat center left;}

.reding{background-color: #f24f40!important;color: #fff!important;border: 1px solid #c94235!important;animation:mymove 0.5s infinite;
-webkit-animation:mymove 0.5s infinite; /* Safari and Chrome */}
/*@keyframes mymove
{
0%   {background:red; }
100% {background:#ffd351;color: #92792e;}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
0%   {background:red; }
100% {background:#ffd351;color: #92792e;}*/











